version: '3'

services:
  db:
    container_name: libraries_db
    image: postgres
    volumes:
      - /var/projects/libraries/database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: foo
      POSTGRES_PASSWORD: foobar
      POSTGRES_DB: libraries
    restart: always
  web:
    container_name: libraries_web
    build: .
    command: bash -c "python manage.py makemigrations && python manage.py migrate && gunicorn libraries_portal.wsgi -b 0.0.0.0:8000 -w 2"
    volumes:
      - .:/code
      - /var/projects/libraries/static:/static
      - /var/projects/libraries/media:/media
    ports:
      - "8001:8000"
    depends_on:
      - db
    restart: always