{% extends 'reader_cabinet/layout/master.html' %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'reader_cabinet:home' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
        <li><a href="{% url 'reader_cabinet:comments_list' %}"><i class="fa fa-dashboard"></i> Мои отзывы</a></li>
        <li class="active">Отзыв</li>
    </ol>
{% endblock %}

{% block content-h1 %}
    Мой отзыв
{% endblock %}

{% block content %}
<!-- Default box -->
<div class="box">
    <div class="box-body">
        <dl>
            <dt>Полный текст отзыва</dt>
            <dd>{{ comment.text }}</dd>
            <dt>Отзыв на</dt>
            <dd>
                {% if comment.library_set.first %}
                    Библиотека: <a href="{% url "reader_cabinet:library_show" comment.library_set.first.pk %}">{{ comment.library_set.first }}</a>
                {% elif comment.document_set.first %}
                    Документ: <a href="{% url "reader_cabinet:document_show" comment.document_set.first.pk %}">{{ comment.document_set.first }}</a>
                {% endif %}
            </dd>
            <dt>Промодерирован</dt>
            <dd>
                {% if comment.moderated %}
                    <span class="text-green text-bold">Да</span>
                {% else %}
                    <span class="text-red text-bold">Нет</span>
                {% endif %}
            </dd>
            <dt>Создан</dt>
            <dd>{{ comment.created_at }}</dd>
        </dl>

        <p><a href="{% url "reader_cabinet:comment_delete" comment.pk %}?redirect_to=/reader-cabinet/my-comments/list/" class="btn btn-danger" title="Удалить" onclick="return confirm('Вы уверены?')"><i class="fa fa-close" aria-hidden="true"></i> Удалить</a></p>

        <p><a href="{% url "reader_cabinet:comments_list" %}">Назад ко всем отзывам</a></p>
    </div>
</div>
<!-- /.box -->
{% endblock %}
