{% extends 'reader_cabinet/layout/master.html' %}
{% load bootstrap3 %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{% url 'reader_cabinet:home' %}"><i class="fa fa-dashboard"></i> Главная</a></li>
        <li class="active">Настройки</li>
    </ol>
{% endblock %}

{% block content-h1 %}
    Настройки
{% endblock %}

{% block content %}
<!-- Default box -->
<div class="box">
    <div class="box-body">
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-info"></i> Информация!</h4>
            Если не хотите менять пароль, просто оставьте поля пароля незаполненными.
        </div>

        <form id="form-reader-ticket" action="{% url 'reader_cabinet:settings' %}" method="post" class="form" autocomplete="off">
            <p><strong>Логин:</strong> {{ request.user.username }}</p>
            {% bootstrap_form form %}
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok" %} Сохранить
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
<!-- /.box -->
{% endblock %}


